@model musicShop.Models.Ensemble

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Ансамбль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEnsemble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEnsemble.Name)
        </dd>
    </dl>
    
    @if (Model.Performances.Count() == 0)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
        </form>
    }
    else
    {
        <h4>Нельзя удалить ансамбль, пока есть связанные исполнения!</h4>
        <a asp-action="Index">Вернуться назад</a>
    }
</div>
