@model IEnumerable<musicShop.Models.Ensemble>

@{
    ViewData["Title"] = "Добавить ансамблю тип";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить ансамблю тип</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="typeEnsembleId" value="@ViewBag.TypeEnsembleId">
                        <input type="hidden" name="ensembleId" value="@item.Id">
                        <input type="submit" value="Выбрать" class="btn btn-success">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
